{% extends 'layouts/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Изменить машину соотрудника</h4>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        </div>
    </div>
    <form class="card" method="post">
        <div class="card-body">
            {% csrf_token %}
            {% for f in form %}
                <div class=" col-md-12">
                    {{ f.label_tag }}
                    {{ f|add_class:'form-control' }}
                </div>
            {% endfor %}
            <button class="btn btn-primary mt-2 float-right" type="submit">Изменить</button>
        </div>
    </form>
</div>
{% endblock %}